extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug

block main
    .section-2
        .container.wrap
            .inner-wrap.row
                .wrap-1.col-lg-6.col-md-12
                    img(src='https://duocmyphamyou18.com/uploads/source//san-pham/z4608293553298-8df851e4bb973439a5563284a0634350.jpg' alt='')
                .wrap-1.col-lg-6.col-md-12
                    .title Thông tin liên lạc
                    .title AlexT Shop
                    .wrap-logo
                        .logo   
                            a(href="https://www.facebook.com/Alex0172") <i class="fa-brands fa-facebook-f"></i>
                            span Facebook
                        
                        .logo
                            a(href="https://www.facebook.com/Alex0172") <i class="fa-brands fa-square-instagram"></i>
                            span Instagram
                    
                        .logo
                            a(href="https://www.facebook.com/Alex0172") <i class="fa-brands fa-twitter"></i>
                            span Twitter
                    .desc
                        h2 Chúng tôi cam kết 
                        ul 
                            li Hoàn tiền 300% nếu phát hiện sản phẩm là hàng giả, hàng kém chất lượng
                            li Mức giá tốt nhất so với thị trường
                            li Gói hàng cẩn thận, giao hàng nhanh chóng 
                            li Nhân viên tư vấn túc trực 24/7
            .wrap-2.row
                .col-lg-8.col-12
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.3794645233634!2d105.77766617532153!3d20.977420880659132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134532d16cb12ff%3A0x323c64a858ffc893!2zMzAgxJAuIFRoYW5oIELDrG5oLCBQLiBN4buZIExhbywgSMOgIMSQw7RuZywgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1712939789554!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                .col-lg-4.col-12.wrap-img
                    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFBBITS6mCBMe5T3qyavklw_ZzQaoEIfcVBBS0AVLWf0CXP58L' alt='')
