extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug 
include ../../mixins/sort.pug 
include ../../mixins/pagination.pug
block main 
    .page-format
        .container.my-3
            .row
                .col-6
                    +box-head(pageTitle)
                .col-6
                        +sort()

            +product-grid(Products)
        
            +pagination(pagination)
    
    script(src="/js/format.js") 
    script(src="/js/product.js") 