mixin sort()
    div(sort class="sort")
        select(
            class="form-control"
            name="sort"
            sort-select
        )
            option(value="position-desc" class="option") Vị trí giảm dần - Mặc định
            option(value="position-asc" class="option") Vị trí tăng dân
            option(value="title-asc" class="option") Tiêu đề A - Z
            option(value="title-desc" class="option") Tiêu đề Z - A
            option(value="sales-desc" class="option") Doanh số giảm dần
            option(value="sales-asc" class="option") Doanh số tăng dần
        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear