mixin sort()
    div(class ="sort-form" sort)
        select(
            class="form-control select-css"
            name="sort"
            sort-select
        )
            option(value="default" class="css-option") Mặc định
            option(value="price-desc" class="css-option") Giá giảm dần
            option(value="price-asc" class="css-option") Giá tăng dần
            option(value="title-asc" class="css-option") Tiêu đề A - Z
            option(value="title-desc" class="css-option") Tiêu đề Z - A
            option(value="sales-asc" class="css-option") Lượt bán tăng dần
            option(value="sales-desc" class="css-option") Lượt bán giảm dần
        button(
            class="btn btn-danger mt-2 sort-clear"
            sort-clear
        ) Clear